<!DOCTYPE html>
<html>

<head>
  <title>JJA VIAJES</title>

</head>
<body>
  <header style="display: flex; align-items: center; justify-content: space-between;">
    <img src="https://img.freepik.com/vector-gratis/logotipo-viaje-detallado_23-2148616611.jpg?w=2000" alt="Logo" style="height: 120px; width: 110px; margin-right: 20px;">
    <h1 style="font-size: 32px; text-align: center;flex-grow: 1; background-color: #333; color: #fff; padding: 20px; margin: 0;">JJA VIAJES</h1>
  </header>
	<style>
		body {
			background-image: url('https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194_1280.jpg');
      background-size: cover;
		}
	</style>

<body>
    

  
</body>
</html>

<!-- <p>async function buscarViajes() {
  const origen = document.getElementById("origen").value;
  const destino = document.getElementById("destino").value;
  const fecha = document.getElementById("fecha").value;

  // Hacer llamada a la API para obtener los viajes
  const url = https://api.miviaje.com/viajes?origen=${origen}&destino=${destino}&fecha=${fecha};
  const response = await fetch(url);
  const data = await response.json();

  // Mostrar los resultados en la tabla
  const tablaViajes = document.getElementById("tabla-viajes");
  const tbody = tablaViajes.querySelector("tbody");
  tbody.innerHTML = "";

  data.forEach((viaje) => {
    const row = document.createElement("tr");
    row.innerHTML = 
      <td>${viaje.origen}</td>
      <td>${viaje.destino}</td>
      <td>${viaje.horaSalida}</td>
      <td>${viaje.horaLlegada}</td>
      <td>${viaje.precio}</td>
    ;
    tbody.appendChild(row);
  });
</p>
} -->